<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product Manager</title>
</head>
<body>
  <h3>Product Management</h3>
  <div class="nav">
    <p><a [routerLink]="['/products']">Product List</a> || <a [routerLink]="['/products/new']">Product Creation</a></p>
    
  </div>

  
</body>
</html>

<!-- Black Belt: nested schemas,  -->


<router-outlet></router-outlet>
